.App {
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.App > div {
  grid-column-start: 1;
  grid-column-end: 6;
}

.grid-container {
  display: grid;
  grid-template-columns: 0px auto auto auto 0px;
  grid-gap: 10px;
}

/* For Desktop */
@media only screen and (min-width: 640px) {
  .App > div {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 75px auto auto auto 75px;
    grid-gap: 10px;
  }
}

nav {
  grid-column-start: span 5;
  text-align: center;
}

.debugModule {
  grid-column-start: span 5;
}

h2 {
  text-align: center;
}

/* DEBUG */
.MenuButton {
  background-color: teal;
  color: white;
  border: none;
  font-size: medium;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.MenuButton:hover {
  background-color: rgb(8, 167, 167);
}

.firstMenuButton {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.lastMenuButton {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.RawResponseBox {
  margin: 5px auto;
  padding: 8px;
  width: 500px;
  min-height: 50px;
  background-color: black;
  color: lightgreen;
  word-wrap: break-word;
}

.DisabledMenuButton {
  background-color: grey;
  color: white;
  border: none;
  font-size: medium;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  cursor: default;
}

.Menu {
  margin-bottom: 5px;
}

/* APP */

.splashPage {
  margin: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#welcomeMessage {
  padding: 0px 10px;
}

#signInMessage {
  grid-column-start: span 5;
  padding-bottom: 10px;
  text-align: center;
}

#usernameLabel {
  grid-column-start: 2;
}

#username {
  grid-column-start: 3;
  grid-column-end: 5;
}

#passwordLabel {
  grid-column-start: 2;
}

#password {
  grid-column-start: 3;
  grid-column-end: 5;
}

#signInButton {
  grid-column-start: 3;
  background-color: rgb(161, 223, 171);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
}

#signInButton:hover {
  background-color: rgb(140, 196, 150);
}

#guestMessage {
  grid-column-start: span 5;
  padding: 0px 15px 50px 15px;
  text-align: left;
}

.signInBox {
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 600px;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.signInLabel {
  height: 35px;
  text-align: right;
  padding: 7px;
}

.signInInput {
  padding: 7px;
  height: 35px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

.signInInput:focus {
  border: 2px solid rgb(71, 235, 112);
}

.registerBox {
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#registerMessage {
  grid-column-start: span 5;
  padding-bottom: 10px;
  text-align: center;
}

.registerLabel {
  height: 35px;
  text-align: right;
  padding: 7px;
}

.registerInput {
  padding: 7px;
  height: 35px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

.registerInput:focus {
  border: 2px solid rgb(71, 235, 112);
}

#firstNameLabel {
  grid-column-start: 1;
  grid-column-end: 3;
}

#firstName {
  grid-column-start: 3;
  grid-column-end: 5;
}

#lastNameLabel {
  grid-column-start: 1;
  grid-column-end: 3;
}

#lastName {
  grid-column-start: 3;
  grid-column-end: 5;
}

#emailLabel {
  grid-column-start: 1;
  grid-column-end: 3;
}

#email {
  grid-column-start: 3;
  grid-column-end: 5;
}

#dobLabel {
  grid-column-start: 2;
}

#dob {
  grid-column-start: 3;
  grid-column-end: 5;
}

#registerButton {
  grid-column-start: 3;
  background-color: rgb(161, 223, 171);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 50px;
}

#registerButton:hover {
  background-color: rgb(140, 196, 150);
}

#photoUrlLabel {
  grid-column-start: 1;
  grid-column-end: 3;
}

#photoUrl {
  grid-column-start: 3;
  grid-column-end: 5;
}

.accountBox {
  display: grid;
  grid-template-columns: 140px 1fr 1fr;
  grid-gap: 10px;
  max-width: 600px;
  margin: auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.accountBox p {
  overflow-wrap: break-word;
}

.activeNavLink {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.inactiveNavLink {
  color: black;
}

.errorAlert {
  margin: 5px;
  padding: 7px;
  background-color: red;
  border-radius: 5px;
  grid-column-start: span 5;
  word-break: break-all;
}

#accountDetails {
  display: inline;
  padding: 10px 5px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.profilePhoto {
  border-radius: 50%;
  width: 130px;
}

.profilePhotoPreviewBox {
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: center;
}

.profilePhotoPreview {
  border: rgb(161, 223, 171) solid 5px;
  border-radius: 50%;
  width: 150px;
}

#profilePhotoBox {
  margin-left: 13px;
  margin-top: 10px;
  width: 130px;
  height: 130px;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
}

.profilePhotoBoxPreview {
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: center;
}

.profilePhotoBoxPreview > img:hover {
  cursor: pointer;
}

.profilePhotoBorder {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: rgb(161, 223, 171) solid 5px;
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
}

.adminBadge {
  position: absolute;
  left: 8px;
  bottom: 10px;
  background-color: rgba(161, 223, 171, 0.904);
  color: black;
  padding: 0px;
  width: 115px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

#updateAccountButton {
  grid-column-start: 3;
  background-color: rgb(161, 223, 171);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}

#updateAccountButton:hover {
  background-color: rgb(140, 196, 150);
}

#updateAccountLinkButton {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(161, 223, 171);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 10px;
  height: 40px;
  max-width: 175px;
}

#updateAccountLinkButton:hover {
  background-color: rgb(140, 196, 150);
}

#signOutButton {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(255, 249, 249);
  border: solid black 1px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 10px;
  height: 40px;
  max-width: 175px;
}

#signOutButton:hover {
  background-color: lightgray;
}

#deleteAccountButton {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(255, 81, 81);
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 50px;
  height: 40px;
  max-width: 175px;
}

#deleteAccountButton:hover {
  background-color: red;
}

.usersBox {
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.userCard {
  grid-column: span 5;
  border: solid black 1px;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 215px auto 30px;
}

.userCard > div {
  padding: 7px;
}

.userCardUsername {
  font-weight: bold;
}

.userCardAdmin {
  color: green;
}

.userCardDisabled {
  color: red;
}

#usersPageMessage {
  grid-column-start: span 5;
  padding: 0px 2px;
}

.userCardMenu {
  position: relative;
  display: inline-block;
}

.userCardMenuButton {
  width: 30px;
  height: 100%;
  background-color: black;
  border: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.userCardMenuButton > div {
  writing-mode: vertical-lr;
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 30px;
}

.userCardMenuButton:hover {
  background-color: rgb(58, 58, 58);
}

.userCardMenuContent {
  display: none;
}

.userCardMenuContentSelected {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 0px;
  width: 220px;
  z-index: 1;
  height: 80px;
  background-color: white;
  border: solid black 1px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  white-space: nowrap;
}

.userCardMenuContentSelected > button {
  color: black;
  display: inline-block;
  width: 45%;
  height: 100%;
  background-color: lightgray;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
}

.userCardMenuContentSelected button:hover {
  background-color: white;
}

.updateAccountBox {
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.updateAccountLabel {
  height: 35px;
  text-align: right;
  padding: 7px;
}

.updateAccountInput {
  padding: 7px;
  height: 35px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

.updateAccountInput:focus {
  border: 2px solid rgb(71, 235, 112);
}

.notesBox {
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.noNotes {
  grid-column-start: span 5;
}

.notesOptionsMain {
  grid-column-start: span 5;
  height: 40px;
}

#createNoteButton {
  height: 40px;
  width: 60px;
  font-size: 16px;
  background-color: rgb(161, 223, 171);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 7px;
  border-radius: 7px;
  margin-right: 7px;
}

#createNoteButton:hover {
  background-color: rgb(140, 196, 150);
}

#removeNotesButton {
  height: 40px;
  width: 75px;
  font-size: 14px;
  background-color: rgb(255, 81, 81);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 7px;
  position: relative;
  top: -8px;
}

#removeNotesButton:hover {
  background-color: red;
}

#notesList {
  grid-column-start: span 5;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.noteEditorBox {
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.noteContent {
  width: 100%;
  min-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
}

#notesNavLink {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: rgb(255, 255, 255);
  border: solid black 1px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 7px;
  margin-bottom: 7px;
}

#notesNavLink:hover {
  background-color: lightgray;
}

#saveNoteButton {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: rgb(161, 223, 171);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

#saveNoteButton:hover {
  background-color: rgb(140, 196, 150);
}

#removeNoteButton {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: rgb(255, 81, 81);
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

#removeNoteButton:hover {
  background-color: red;
}

.header {
  background-color: rgb(75, 124, 214);
  height: 100px;
  box-shadow: 0 8px 16px 0 rgba(75, 124, 214, 0.493);
}

.NotesNavLink {
  font-size: 18px;
  color: black;
  text-decoration: underline;
  float: right;
  margin: 15px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 40px;
}

.UsersNavLink {
  font-size: 18px;
  color: black;
  text-decoration: underline;
  float: right;
  margin: 0px;
  margin-top: 40px;
}

.noteCard {
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.noteCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.noteCardBorder {
  border: solid black 1px;
}

.noteCardBorderSelected {
  border: solid rgb(161, 223, 171) 3px;
  border-radius: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.noteCardTitle {
  background-color: rgb(190, 205, 233);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-bottom: solid black 1px;
}

.noteCardTitle div {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.noteCardText {
  font-size: 12px;
  margin: 5px;
  overflow: hidden;
  height: 105px;
}

.OptionsBar {
  padding: 4px;
  position: absolute;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  height: 108px;
}

.hiddenOptionsBar {
  display: none;
}

.openNoteButton {
  margin: 0px;
  padding: 10px 20px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  border: none;
  border-top: solid black 1px;
}

.openNoteButton:hover {
  color: green;
}

.profilePhotoBoxHeader {
  float: right;
  padding-top: 15px;
  padding-right: 4px;
  padding-left: 8px;
}

.profilePhotoHeader {
  border-radius: 50%;
  width: 60px;
  border: rgb(161, 223, 171) solid 3px;
}

.signInHeader {
  color: white;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 10px;
  margin-right: 15px;
}

.logoBox {
  float: left;
  position: relative;
}

.logoText {
  display: none;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 24px;
  position: absolute;
  left: 110px;
  top: -5px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    rgba(75, 124, 214, 0),
    rgba(75, 124, 214, 0.9),
    rgba(75, 124, 214, 1)
  );
  padding-bottom: 10px;
}

@media only screen and (min-width: 640px) {
  .logoText {
    display: inline;
  }
}

.logo {
  width: 120px;
  display: inline;
  margin-left: 5px;
  padding-top: 20px;
}

.fadeIn {
  -webkit-animation: fadein 3s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s forwards; /* Firefox < 16 */
  -ms-animation: fadein 3s forwards; /* Internet Explorer */
  -o-animation: fadein 3s forwards; /* Opera < 12.1 */
  animation: fadein 3s forwards;
}

.fadeOut {
  -webkit-animation: fadeout 3s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 3s forwards; /* Firefox < 16 */
  -ms-animation: fadeout 3s forwards; /* Internet Explorer */
  -o-animation: fadeout 3s forwards; /* Opera < 12.1 */
  animation: fadeout 3s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
